* {
  padding: 0px;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}
/* Header */

.logo {
  color: white;
  font-size: 30px;
  line-height: 40px;
}

nav {
  background-color: #202046;
  height: 80px;
  width: 100%;
  padding: 20px;
  margin-top: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: small;
}
nav ul li a {
  color: white;
  padding: 5px;
}

.nav-bar {
  position: absolute;
  right: 50px;
  top: 30px;
}

nav li a:hover {
  color: #9595d0;
  transition: 0.3s;
}

.logo a {
  color: white;
}

.logo a:hover {
  color: white;
  opacity: 80%;
}

@media (max-width: 952px) {
  .logo {
    font-size: larger;
    line-height: 40px;
  }
  nav div ul li{
    margin: 0;
    padding: 0;
  }

}
@media (max-width: 450px) {
  .logo {
    font-size: medium;
    line-height: 40px;
  }
  nav div ul li{
    margin: 0;
    padding: 0;
    font-size: 8px;
  }
  .main h1{
    margin: 0;
    font-size: 40px;
  }
  div.text{
    margin-bottom: 20px;
    font-size: 17px;
  }
  div.main {
    margin: 0;
  }

}

/* Main */

.main {
  margin-bottom: 50px;
}

.image {
  text-align: center;
}

.image div {
  display: inline-block;
  margin: 50px 100px 0 100px;
}
.image div p {
  margin: 20px;
  font-weight: 600;
}
.image div img {
  border: 3px solid #202046;
  border-radius: 15px;
}
.closeup {
  height: 625px;
  width: 350px;
}
.full {
  height: 625px;
  width: 350px;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  padding: 60px 0 0 0;
}

/* Strings */
.E {
  background-image: url(../images/guitar/acoustic-e.png);
}
.a {
  background-image: url(../images/guitar/acoustic-a.png);
}
.d {
  background-image: url(../images/guitar/acoustic-d.png);
}
.g {
  background-image: url(../images/guitar/acoustic-g.png);
}
.b {
  background-image: url(../images/guitar/acoustic-b.png);
}
.e {
  background-image: url(../images/guitar/acoustic-ee.png);
}

.string {
  width: 96px;
  height: 138px;
  margin: 50px 50px 10px 50px;
}

.set div {
  display: inline-block;
  margin-bottom: 200px;
}

.set {
  text-align: center;
}

.set div button {
  font-size: 0px;
  border: 2px solid #202046;
  border-radius: 10px;
}

.set div button:hover {
  opacity: 70%;
}

.text {
  text-align: center;
  font-size: x-large;
  margin: 80px;
  font-weight: 600;
}

@media (max-width: 960px) {
  h1 {
    padding: 40px 0 40px 0;
  }
}
@media (max-width: 860px) {
  .set div {
    margin: 40px 40px 0 40px;
  }
  .set {
    height: 600px;
  }
  .text {
    margin-top: 0px;
    margin-bottom: 80px;
    font-size: 22px;
  }
}
@media (max-width: 670px) {
  .set div {
    margin: 8px;
  }
}
@media (max-width: 580px) {
  .image div {
    margin: 50px 0;
  }
  .set div .string {
    margin-bottom: 0;
  }
  nav div ul li {
margin: 0;
padding: 0;
  }

}
@media (max-width: 1218px) {
  .set div button {
    margin: 20px 20px;
  }
}

/* Footer */

center {
  background: #202046;
  color: #a7a7d7;
  font-size: 15px;
  padding: 10px;
  margin-top: 30px;
}

center a {
  color: white;
  text-decoration: underline;
}

center a:hover {
  opacity: 60%;
}

/* Image String */
.guitarsound {
  position: relative;
}
.guitarsound .sound {
  position: absolute;
  width: 10px;
  height: 560px;
  left: 93px;
  bottom: 120px;
}

.guitarsound .aa {
  left: 108px;
  transform: rotate(-0.5deg);
}
.guitarsound .dd {
  left: 123px;
  transform: rotate(-0.5deg);
}
.guitarsound .gg {
  left: 138px;
  transform: rotate(-1deg);
}
.guitarsound .bb {
  left: 152px;
  transform: rotate(-1deg);
}
.guitarsound .ee {
  left: 166px;
  transform: rotate(-1deg);
}
.guitarsound button {
  opacity: 30%;
  text-transform: capitalize;
  font-weight: 1000px;
  color: red;
  vertical-align: text-bottom;
}
.guitarsound button:hover {
  opacity: 50%;
}

.guitarsound2 {
  position: relative;
}
.guitarsound2 .sound {
  position: absolute;
  width: 8px;
  height: 395px;
  left: 90px;
  top: 55px;
  transform: rotate(2deg);
}

.guitarsound2 .aa {
  left: 97px;
}
.guitarsound2 .dd {
  left: 105px;
  transform: rotate(1.5deg);
}
.guitarsound2 .gg {
  left: 113px;
  transform: rotate(1deg);
}
.guitarsound2 .bb {
  left: 120px;
  transform: rotate(0deg);
}
.guitarsound2 .ee {
  left: 125px;
  transform: rotate(-1.5deg);
}
.guitarsound2 button {
  opacity: 30%;
  text-transform: capitalize;
  font-weight: 1000px;
  color: red;
  vertical-align: text-bottom;
}
.guitarsound2 button:hover {
  opacity: 50%;
}

/* Animation Button */

.set .string{
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.set .string:hover{
  box-shadow: 0 0px 10px rgba(0, 0, 0, .5);
  transform: scale(.95);
}
