* {
  padding: 0px;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}
/* Header */

.logo {
  color: white;
  font-size: 30px;
  line-height: 40px;
}

nav {
  background-color: #202046;
  height: 80px;
  width: 100%;
  padding: 20px;
  margin-top: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: small;
}
nav ul li a {
  color: white;
  padding: 5px;
}

.nav-bar {
  position: absolute;
  right: 50px;
  top: 30px;
}

nav li a:hover {
  color: #9595d0;
  transition: 0.3s;
}

.logo a {
  color: white;
}

.logo a:hover {
  color: white;
  opacity: 80%;
}

@media (max-width: 952px) {
  .logo {
    font-size: larger;
    line-height: 40px;
  }
  nav div ul li {
    margin: 0;
    padding: 0;
  }
}
/* Main */

.main {
  height: 100%;
}

.image {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}

.image div {
  display: inline-block;
}
.image div p {
  margin: 20px;
  font-weight: 600;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  padding: 60px 0 0 0;
}

/* Parts od drum */
.set .hihat {
  background-image: url(../images/drum/hihat.png);
}
.set .crash {
  background-image: url(../images/drum/crash.png);
}
.set .kick {
  background-image: url(../images/drum/bass.png);
}
.set .snare {
  background-image: url(../images/drum/snare.png);
}
.set .tom4 {
  background-image: url(../images/drum/tom4.png);
}
.set .tom3 {
  background-image: url(../images/drum/tom3.png);
}
.set .tom2 {
  background-image: url(../images/drum/tom2.png);
}
.set .tom1 {
  background-image: url(../images/drum/tom1.png);
}

.set .string {
  width: 96px;
  height: 138px;
}

.set div {
  display: inline-block;
  margin-bottom: 120px;
}

.set {
  text-align: center;
  height: 100%;
}

.set div button {
  font-size: 0px;
  border: 2px solid #202046;
  border-radius: 10px;
  margin: 10px;
}

.set div button:hover {
  opacity: 70%;
}
.closeup {
  width: 100vh;
}
.text {
  text-align: center;
  font-size: x-large;
  margin: 80px;
  font-weight: 600;
}

@media (max-width: 960px) {
  h1 {
    padding: 40px 0 0 0;
  }
  .set div button {
    margin: 0px;
  }
}
@media (max-width: 860px) {

  .text {
    margin-top: 0px;
    margin-bottom: 80px;
    font-size: 22px;
  }
  .set div button {
    margin: 0 20px;
  }
  .set div {
    margin: 10px;
  }
  .set div p{
    margin: 20px;
  }
  .main .text {
    margin-top: 40px;
  }
}

@media (max-width: 580px) {
  .set .string {
    margin: 0;
  }

  .text {
    font-size: 18px;
    margin: 10px 10px 40px 10px;
  }
  .main h1 {
    margin-top: 0;
  }
}
@media (max-width: 400px) {
  .image div p {
    margin: 0px;
  }
  .set div {
    margin: 2px;
  }
  .set div {
    margin-bottom: 40px;
  }
  nav div ul li a {
    margin: 0;
    padding: 0;
    font-size: 8px;
  }
  .logo {
    font-size: 15px;
  }
}


/* Footer */

center {
  background: #202046;
  color: #a7a7d7;
  font-size: 15px;
  padding: 10px;
}

center a {
  color: white;
  text-decoration: underline;
}

center a:hover {
  opacity: 60%;
}

/* Image String */
.image {
  background-image: url("../images/drum/drum.png");
  height: 600px;
  width: 900px;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
}

.image button {
  position: absolute;
}

.image .hihat {
  left: 35px;
  top: 120px;
  height: 30px;
  width: 165px;
  border-radius: 40%;
  transform: rotate(-1deg);
}
.image .crash {
  left: 575px;
  top: 52px;
  height: 100px;
  width: 230px;
  border-radius: 50%;
  transform: rotate(-22deg);
}
.image .kick {
  left: 310px;
  top: 255px;
  height: 215px;
  width: 215px;
  border-radius: 50%;
}
.image .snare {
  top: 15px;
  left: 175px;
  height: 90px;
  width: 168px;
  border-radius: 50%;
}
.image .tom1 {
  top: 185px;
  left: 145px;
  height: 65px;
  width: 145px;
  border-radius: 50%;
}
.image .tom2 {
  top: 125px;
  left: 310px;
  height: px;
  width: 90px;
  border-radius: 50%;
  transform: rotate(-1deg);
}
.image .tom3 {
  top: 120px;
  left: 432px;
  height: 25px;
  width: 120px;
  border-radius: 50%;
  transform: rotate(1deg);
}
.image .tom4 {
  top: 210px;
  left: 565px;
  height: 45px;
  width: 163px;
  border-radius: 50%;
}
.image button {
  opacity: 20%;
  text-transform: capitalize;
  font-weight: 1000px;
  color: red;
  vertical-align: text-bottom;
}
.image button:hover {
  opacity: 40%;
}

p {
  text-align: center;
}
@media (max-width: 970px) {

  .image {
    background-image: url('../images/drum/drum1.png');
    height: 250px;
    width: 375px;
  }

  .image .hihat {
    left: 15px;
    top: 50px;
    height: 15px;
    width: 70px;
    border-radius: 40%;
    transform: rotate(-1deg);
  }
  .image .crash {
    left:240px;
    top: 20px;
    height: 45px;
    width: 95px;
    border-radius: 50%;
    transform: rotate(-22deg);
  }
  .image .kick {
    left: 128px;
    top: 103px;
    height: 92px;
    width: 92px;
    border-radius: 50%;
  }
  .image .snare {
    top: 8px;
    left: 71px;
    height: 35px;
    width: 72px;
    border-radius: 50%;
  }
  .image .tom1 {
    top: 78px;
    left: 60px;
    height: 50px;
    width: 63px;
    border-radius: 40%;
  }
  .image .tom2 {
    top: 50px;
    left: 125px;
    height: 45px;
    width: 45px;
    border-radius: 35%;
    transform: rotate(-1deg);
  }
  .image .tom3 {
    top: 50px;
    left: 180px;
    height: 45px;
    width: 50px;
    border-radius: 35%;
    transform: rotate(1deg);
  }
  .image .tom4 {
    top: 87px;
    left: 235px;
    height: 90px;
    width: 67px;
    border-radius: 25%;
  }
}

/* Animation Button */

.set .string{
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.set .string:hover{
  box-shadow: 0 0px 10px rgba(0, 0, 0, .5);
  transform: scale(.95);
}

