* {
  padding: 0px;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}
/* Header */

.logo {
  color: white;
  font-size: 30px;
  line-height: 40px;
}

nav {
  background-color: #202046;
  height: 80px;
  width: 100%;
  padding: 20px;
  margin-top: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: small;
}
nav ul li a {
  color: white;
  padding: 5px;
}

.nav-bar {
  position: absolute;
  right: 50px;
  top: 30px;
}

nav li a:hover {
  color: #9595d0;
  transition: 0.3s;
}

.logo a {
  color: white;
}

.logo a:hover {
  color: white;
  opacity: 80%;
}

@media (max-width: 952px) {
  .logo {
    font-size: larger;
    line-height: 40px;
  }
  nav div ul li{
    margin: 0;
    padding: 0;
  }

}
/* Main */

.main {
height: 100vh;
}

.image {
text-align: center;
}
img{
  max-width: 100%;
  height: auto;
}

.image div {
display: inline-block;
}
.image div p {
margin: 20px;
font-weight: 600;
}


h1 {
text-align: center;
font-size: 60px;
margin-top: 40px;
padding: 60px 0 0 0;
}

/* Parts od drum */
 .set .hihat {
background-image: url(../images/drum/hihat.png);
}
 .set .crash {
background-image: url(../images/drum/crash.png);
}
.set .kick {
background-image: url(../images/drum/bass.png);
}
.set .snare {
background-image: url(../images/drum/snare.png);
}
.set .tom4{
background-image: url(../images/drum/tom4.png);
}
.set .tom3 {
background-image: url(../images/drum/tom3.png);
}
.set .tom2 {
background-image: url(../images/drum/tom2.png);
}
.set .tom1 {
background-image: url(../images/drum/tom1.png);
}

.set .string {
width: 96px;
height: 138px;
}

.set div {
display: inline-block;
margin-bottom: 120px;
}

.set {
text-align: center;
}

.set div button {
font-size: 0px;
border: 2px solid #202046;
border-radius: 10px;
margin: 10px;
}

.set div button:hover{
opacity: 70%;
}
.closeup{
  width: 100vh;
}
.text {
text-align: center;
font-size: x-large;
margin: 80px;
font-weight: 600;
}

@media (max-width: 960px) {
h1 {
  padding: 40px 0 0 0;
}
.set div button {
  margin: 0px;
  }
  
}
@media (max-width: 860px) {

.set{
  height: 600px;
}
.text{
  margin-top: 0px;
  margin-bottom: 80px;
  font-size: 22px;
}
.set div button {
  margin: 0 20px;
  }
  .set div{
    margin: 20px;
  }
  .main .text{
    margin-top: 40px;
  }


}

@media (max-width: 580px) {

.set .string {
  margin: 0;
}
}


  /* Footer */

  center{
    background:
    #202046 ;
    color: 	 #a7a7d7;
    font-size: 10px;
    padding: 10px;
  }

  center a{
    color: white;
    text-decoration: underline;
  }
  
  center a:hover{
    opacity:60%;
  }

/* Image String */
.guitars {
position: relative;
}
.guitars .sound {
position: absolute;
left: 0;
}

.guitars .hihat{
left: 30px;
top: 105px;
height: 23px;
width: 140px;
border-radius: 40%;
transform: rotate(-1deg);
}
.guitars .crash{
left: 490px;
top: 43px;
height: 88px;
width: 193px;
border-radius: 50%;
transform: rotate(-23deg);
}
.guitars .kick{
  left: 265px;
  top: 218px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
.guitars .snare{
  top: 15px;
  left: 145px;
  height: 73px;
  width: 145px;
  border-radius: 50%;
}
.guitars .tom1{
  top: 160px;
  left: 127px;
  height: 50px;
  width: 119px;
  border-radius: 50%;
  
}
.guitars .tom2{
  top: 107px;
  left: 260px;
  height: 15px;
  width: 75px;
  border-radius: 50%;
  transform: rotate(-1deg);
}
.guitars .tom3{
  top: 100px;
  left: 370px;
  height: 18px;
  width: 97px;
  border-radius: 50%;
  transform: rotate(1deg);
  
}
.guitars .tom4{
  top: 180px;
  left: 483px;
  height: 30px;
  width: 130px;
  border-radius: 50%;

}
.guitars button {
opacity: 20%;
text-transform: capitalize;
font-weight: 1000px;
color: red;
vertical-align: text-bottom;
}
.guitars button:hover {
opacity: 40%;
} 

@media(max-width:780px){
  .guitars button{
    display: none;
  }

}