* {
  padding: 0px;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}
/* Header */

.logo {
  color: white;
  font-size: 30px;
  line-height: 40px;
}

nav {
  background-color: #202046;
  height: 80px;
  width: 100%;
  padding: 20px;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: small;
}
nav ul li a {
  color: white;
  padding: 5px;
}

.nav-bar {
  position: absolute;
  right: 50px;
  top: 30px;
}

nav li a:hover {
  color: #9595d0;
  transition: 0.3s;
}

.logo a {
  color: white;
}

.logo a:hover {
  color: white;
  opacity: 80%;
}

@media (max-width: 952px) {
  .logo {
    font-size: larger;
    line-height: 40px;
  }
  nav div ul li {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 450px) {
  .logo {
    font-size: medium;
    line-height: 40px;
  }
  nav div ul li{
    margin: 0;
    padding: 0;
    font-size: 8px;
  }
}
/* Main */
.main {
  height: 100%;
  text-align: center;
  padding-bottom: 220px;
}

h1 {
  margin: 50px;
}

.text,
p {
  padding: 0 0 40px 0;
  font-weight: bold;
}

/* Footer */

center {
  background: #202046;
  color: #a7a7d7;
  font-size: 15px;
  padding: 10px;
}

center a {
  color: white;
  text-decoration: underline;
}

center a:hover {
  opacity: 60%;
}
footer{
  position: fixed;
}

/* Keyboard */

.keyboard {
  background-image: url("../images/piano/piano.png");
  background-repeat: no-repeat;
  position: relative;
  margin: 20px auto;
  height: 253px;
  width: 791px;
  
}

.keyboard button {
  position: absolute;
  font-size: 15px;
}
.key p{
  font-size: x-large;
  color: black;
}
.white p{
  font-size: larger;
  color:red;
}
.key {
  top: 145px;
  left: 3.5px;
  width: 55px;
  height: 103px;
  opacity: 20%;
}
.key:hover {
  opacity: 50%;
}

.D {
  left: 60px;
}
.D:hover {
  content: "D";
}

.E {
  left: 115px;
}

.F {
  left: 170px;
}

.G {
  left: 225px;
}

.A {
  left: 283px;
}

.B {
  left: 340px;
}

.CN {
  left: 395px;
}

.DN {
  left: 451px;
}

.EN {
  left: 506px;
}

.FN {
  left: 564px;
}

.GN {
  left: 620px;
}

.AN {
  left: 675px;
}

.BN {
  left: 730px;
}

.white {
  top: 6px;
  left: 45px;
  width: 30px;
  height: 140px;
  opacity: 20%;
}

.white:hover {
  opacity: 40%;
}
.DS {
  left: 100px;
}

.FS {
  left: 212px;
}

.GS {
  left: 267px;
}

.AS {
  left: 324px;
}

.CNS {
  left: 436px;
}

.DNS {
  left: 493px;
}

.FNS {
  left: 604px;
}

.GNS {
  left: 659px;
}

.ANS {
  left: 715px;
}
span .key{
  color: red;
}

@media(max-width:810px){
  .keyboard{
    background-image: url(../images/piano/hi.png);
    height: 276px;
    width: 438px;
  }

 .CN,.CNS, .DN, .DNS, .EN,.FN,.FNS ,.GN,.GNS,.AN,.ANS,.BN{
    left: 0px;
    display: none;
  }

.key{
  top: 158px;
  left: 1.5px;
  width: 60px;
  height: 115px;
}
.D{
  left: 64px;
}

.E {
  left: 126px;
}

.F {
  left:188px;
}

.G {
  left: 250px;
}

.A {
  left: 313px;
}

.B {
  left: 375px;
}

.white {
  top: 1px;
  left: 46px;
  width: 34px;
  height: 158px;
}
.DS {
  left: 108px;
}

.FS {
  left: 233px;
}

.GS {
  left: 294px;
}

.AS {
  left: 357px;
}
}
